@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.neutral.300') transparent;
  }

  html.dark * {
    scrollbar-color: theme('colors.neutral.600') transparent;
  }

  ::selection {
    background-color: theme('colors.accent.200');
  }
}
